@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.test.Person.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ERP.test.PersonGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>